# Python virtuelle Umgebung
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class

# Daten & Lokale Dateien
# Falls du mit einer leeren Struktur starten willst, schließe die JSON aus.
# Aber Achtung: Für den ersten Deploy auf Render muss die Datei einmalig hochgeladen werden!
# data/streets_status.json

# Cache
cache/

# Betriebssystem-Dateien
.DS_Store
Thumbs.db

# IDE-spezifisch
.vscode/
.idea/

# Passwort-Datei ignorieren!
config.py

# bin/
# lib/
pyvenv.cfg 
scripts/
sync.log
